/* GENERAL */
body {
  font-family: "Inconsolata", monospace;
  color: #0d1e2d;
}
/* Links */
a {
  color: #777;
}
a:hover {
  color: #000;
}
/* Titles */
h1, h2, h3, h4, h5, h6, .font-heading {
  font-family: "Raleway", sans-serif;
}
.h3 {
  font-size: 20px;
}
.h4 {
  font-size: 16px;
}
/*  Section  */
.section {
  padding:3rem 0;
}

/* HEADER */
/* Custom Navmenu */
.custom-navmenu {
  background: #ACBBEC;
}
.custom-navmenu .custom-menu, .custom-navmenu .custom-menu li {
  padding: 0;
  margin: 0;
  list-style: none;
}
.custom-navmenu .custom-menu li {
  margin-bottom: 0;
  font-size: 20px;
}
.custom-navmenu .custom-menu li a {
  color: #fff;
  padding: 10px 0 !important;
}
.custom-navmenu .custom-menu li a:hover {
  text-decoration: none;
}
.custom-navmenu .custom-menu li.active a {
  text-decoration: underline;
}
.custom-navmenu h3 {
  font-size: 20px;
  color: #fff;
}
.custom-navmenu p {
  color: rgba(255, 255, 255, 0.6);
}
.custom-navmenu a {
  color: rgba(255, 255, 255, 0.7);
}
.custom-navmenu a:hover {
  color: #fff;
}
/* Custom Navbar */
.custom-navbar {
  padding-top: 50px;
  width: 100%;
}
@media (max-width: 780px) {
  .custom-navbar > .container {
    padding-right: 0;
    padding-left: 0;
  }
}
.custom-navbar .navbar-brand {
  font-size: 1.7rem;
  color: #ACBBEC;
  border-bottom: 1px dotted #ACBBEC;
}
/* Miam */
.miam {
  width: 28px;
  height: 32px;
  cursor: pointer;
  position: relative;
}
.miam:before, .miam span, .miam:after {
  width: 100%;
  height: 2px;
  display: block;
  background: #ACBBEC;
  border-radius: 2px;
  position: absolute;
  opacity: 1;
}
.miam:before, .miam:after {
  transition: top 0.35s cubic-bezier(0.23, 1, 0.32, 1), transform 0.35s cubic-bezier(0.23, 1, 0.32, 1), opacity 0.35s cubic-bezier(0.23, 1, 0.32, 1), background-color 1.15s cubic-bezier(0.86, 0, 0.07, 1);
  -webkit-transition: top 0.35s cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 0.35s cubic-bezier(0.23, 1, 0.32, 1), opacity 0.35s cubic-bezier(0.23, 1, 0.32, 1), background-color 1.15s cubic-bezier(0.86, 0, 0.07, 1);
  content: "";
}
.miam:before {
  top: 4px;
}
.miam span {
  top: 15px;
}
.miam:after {
  top: 26px;
}
/* Hover */
.miam:hover:before {
  top: 7px;
}
.miam:hover:after {
  top: 23px;
}
/* Click */
.miam.active span {
  opacity: 0;
}
.miam.active:before, .miam.active:after {
  top: 40%;
}
.miam.active:before {
  transform: rotate(45deg);
}
.miam.active:after {
  transform: rotate(-45deg);
}
.miam:focus {
  outline: none;
}

/* TESTIMONIAL-CAROUSEL */
.testimonial-carousel {
	background-image:url("recycl.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 12px;
}
.testimonial-wrap {
  padding: 50px 50px 80px 50px;
  /*background: #eceff2;*/
}
.testimonial-wrap .testimonial {
  text-align: center;
  max-width: 500px;
  margin: 0 auto;
}
.testimonial-wrap .testimonial img {
  border-radius: 50%;
  width: 120px;
  margin: 0 auto 30px auto;
}
.testimonial-wrap .testimonial blockquote p {
  font-size: 20px;
}
.testimonial-carousel .owl-dots {
  position: absolute;
  bottom: 40px;
  width: 100%;
  text-align: center;
}
.testimonial-carousel .owl-dots .owl-dot {
  display: inline-block;
}
.testimonial-carousel .owl-dots .owl-dot > span {
  display: inline-block;
  width: 7px;
  height: 7px;
  background-color: #7F7F7F;
  border-radius: 50%;
  margin: 5px;
}
.testimonial-carousel .owl-dots .owl-dot.active {
  outline: none;
}
.testimonial-carousel .owl-dots .owl-dot.active > span {
  background: #8B6914;
}

@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.icofont-simple-up {
	color: #000;
	font-size: 30px;
}

/* FOOTER */
.footer {
  padding: 0 0 4rem 0;
  border-top: 1px dotted #ACBBEC;
}
.footer a {
  color: #000;
  font-size: 14px;
}
.footer p {
  font-size: 14px;
}
.la-at{
	font-size: 20px;
}
